<div class="col-sm-6 registration-left-section" data-animation="fadeInUp">
  <%= form_for @student do |f| %>
    <% if @student.errors.any? %>
      <div class="alert alert-error">
        <h4><%=pluralize(@student.errors.count, "error") %></h4>
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.fields_for :user do |user| %>
      <div class="reg-content">
        <h4 style="color : #3498db; font-weight:Bold; margin-left:10px;"><i class="fa fa-user" ></i>&nbsp;&nbsp; Register As a Student</h4>
        <div class="textbox-wrap" >
          <div class="input-group">
            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
            <%= f.text_field :first_name, :class => "form-control" , :placeholder => "First Name", autocomplete: "off" %>
          </div>
        </div>
        <div class="textbox-wrap">
          <div class="input-group">
            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
            <%= f.text_field :last_name,:class => "form-control" , :placeholder => "Last Name", autocomplete: "off" %>
          </div>
        </div>
        <div class="textbox-wrap">
          <div class="input-group">
            <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
            <%= user.email_field :email, :class => "form-control" , :placeholder => "Email" , autofocus: true %>
          </div>
        </div>
        <div class="textbox-wrap">
          <div class="input-group">
            <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
            <%= user.password_field :password, :class => "form-control" , :placeholder => "Password" , autofocus: true %>
          </div>
        </div>
        <%= user.hidden_field :user_type,:value=>"false" %>
        <div class="textbox-wrap">
          <%= f.button class: "btn btn-success pull-right blue-btn  " %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>