<%= render 'application/tutor_dashboard_partial' %>
<br>
<br>
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <% if @tutor.image_file_name? %>
        <%= image_tag @tutor.image.url,:style=>"width:200%;height:75%" %>
      <% else %>
        <%= image_tag "no-image.png",:style=>"width:200%;height:200%" %>
      <% end %>
    </div>
    <div id="name">
      <h1 class="quickFade delayTwo"><%=@tutor.first_name.capitalize+"  "+@tutor.last_name.capitalize%></h1>
    </div>
    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>e: <a href="mailto:joe@bloggs.com" target="_blank"><%=@tutor.user.email%></a></li>
        <li>w: <a href="http://www.bloggs.com">www.abc.com</a></li>
        <li>m: 9000-000-000</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>About Me</h1>
        </div>
        <div class="sectionContent">
          <p class="table_width" align="justify"><%=@tutor.description%></p>
        </div>
      </article>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Teaching Philoshophy</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.teaching_philosophy%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Experience</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.experience%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Credentials</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.cre%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Instruments</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.instruments%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Skill Levels</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.skills%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Genres</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.instruments%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Lesson Duration</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.duration.to_s + "  minutes"%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Age Groups</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%=@tutor.age_group.to_s + "+"%></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Address</h1>
      </div>
      <div class="sectionContent">
        <article>
          <p class="table_width" align="justify"><%==@tutor.address%></p>
          <br>
          <br>
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tutor.latitude}%2C#{@tutor.longitude}" %>
        </article>
      </div>
      <div class="clear"></div>
    </section>
  </div>
</div>
<br>
<br>
<br>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-3753241-1");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>