<%=  render 'application/slider' %>
<div id="latest-blog">
  <div class="container">
    <% if current_student.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="heading-section">
            <h2>Classes from your Favorite teacher</h2>
            <%= image_tag ('under-heading.png') %>
          </div>
        </div>
      </div>
      <div class="row">
        <% @array[0..3].each do |object| %>
          <div class="col-md-4 col-sm-6">
            <div class="blog-post">
              <div class="blog-thumb">
                <% if object.pictures.first.present? %>
                  <%= image_tag object.pictures.first.image.url,:style=>"height:40%";  %>
                <% else %>
                  <%= image_tag "no-image.png",:style=>"height:40%"; %>
                <% end %>
              </div>
              <div class="blog-content">
                <div class="content-show">
                  <h4><%=link_to object.name, lesson_path(object)%></h4>
                  <span><%=object.created_at.strftime("%d-%b-%y")%></span>
                </div>
                <div class="content-hide">
                  <p>
                    <%=truncate(object.description, :length => 100)%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <div class="heading-section">
            <h2>Featured Classes</h2>
            <%= image_tag ('under-heading.png') %>
          </div>
        </div>
      </div>
      <div class="row">
        <% @featured_class.each do |object| %>
          <div class="col-md-4 col-sm-6">
            <div class="blog-post">
              <div class="blog-thumb">
                <% if object.pictures.first.present? %>
                  <%= image_tag object.pictures.first.image.url,:style=>"height:40%";  %>
                <% else %>
                  <%= image_tag "no-image.png",:style=>"height:40%"; %>
                <% end %>
              </div>
              <div class="blog-content">
                <div class="content-show">
                  <h4><%=link_to object.name, lesson_path(object)%></h4>
                  <span><%=object.created_at.strftime("%d-%b-%y")%></span>
                </div>
                <div class="content-hide">
                  <p>
                    <%=truncate(object.description, :length => 100)%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>