<p>
  <div style=" margin-left: -68%; ">
    <%= f.label :start_time, "start time" %>
    <%= f.time_field :start_time, :class=>"time_width" %>
  </div>
  <br />
  <div style=" margin-left: -64%; ">
    <%= f.label :end_time, "end time" %>
    <%= f.time_field :end_time ,:class=>"time_width" %>
  </div>
  <br/>
  <div style=" margin-left: -67%; ">
    <%= f.link_to_remove "Remove this Time" %>
  </div>
</p>