<header>
  <div id="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a href="#">
            <%= link_to image_tag("logo.png"), root_path,'data-no-turbolink' => true   %>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-box">
            <%= form_tag search_classes_path , :class => "search_form",:id => "searchForm", :method => :get do %>
              <%= text_field_tag :search, params[:search], :style => "width:150%;" %>
              <input type="submit" id="search-button" style="margin-right: -49%;margin-top: 1%;">
            <% end %>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <div class="main-menu">
            <% if user_signed_in? %>
              <% if current_user.student? %>
                <ul>
                  <li>
                    <%=link_to "Dashboard",students_path %>
                  </li>
                  <li>
                    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              <% else %>
                <ul>
                  <li>
                    <%=link_to "Dashboard",tutors_path %>
                  </li>
                  <li>
                    <%=link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              <% end %>
            <% else %>
              <ul>
                <li>
                  <%= link_to "signin",new_user_session_path,'data-no-turbolink' => true %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>