<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  

  <title>App</title>
  <link href=  "/assets/login_bootstrap.min.css" rel="stylesheet" %>
  <link href=  "/assets/login_bootstrap-responsive.min.css" rel="stylesheet" %>
  <link href=  "/assets/font-config.scss" rel="stylesheet" %>
  <link href=  "/assets/login_css.css" rel="stylesheet" %>
  <link href=  "/assets/login_preview.min.css" rel="stylesheet" %>
 
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_nested_form.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/core.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/datepicker.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/widget.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/button.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/mouse.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/draggable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/position.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/resizable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/dialog.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/sortable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/base.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/batch_actions.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/checkbox-toggler.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/dropdown-menu.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/has_many.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/modal_dialog.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/popover.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/table-checkbox-toggler.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/ext/jquery-ui.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/ext/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/application.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/charges.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/comments.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/conversations.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/home.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.validate.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery1.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery2.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/lessons.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/omniauth_callbacks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/shared.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/students.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/tutors.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="FImmYnWhEkgEw+wah6wJClVL+pMDm+VdefJMtcEa238=" name="csrf-token" />

</head>
<body>
  <body>
  <div class="divider large visible-desktop"></div>
    <div class="divider  hidden-desktop"></div>
    <div class="container">
      <div class="row-fluid" id="demo-1">
        <div class="span10 offset1">
          <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#panel1" data-toggle="tab" class="active "><i class="fa fa-lock"></i>&nbsp;<span>Login Panel</span></a></li>
              <li><a href="#panel2" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;<span>Register Here</span></a></li>
              <li><a href="#panel3" data-toggle="tab"><i class="fa fa-key"></i>&nbsp;<span>Forgot Password</span></a></li>
              <li><a href="#panel4" data-toggle="tab"><i class="fa fa-envelope-alt"></i>&nbsp;<span>Mail Confirmation</span></a></li>
            </ul>
            
            <div class="tab-content ">
              <div class="tab-pane active" id="panel1">
                <div class="row-fluid">
                  <%= render "devise/sessions/new" %>
                  <div class="span3">
                    <h4><i class="fa fa-expand-alt"></i>&nbsp;&nbsp;Social</h4>
                    <div class="socials clearfix">
                      <a class="fa fa-facebook facebook"></a>
                      <a class="fa fa-twitter twitter"></a>
                      <a class="fa fa-google-plus google-plus"></a>
                      <a class="fa fa-pinterest pinterest"></a>
                      <a class="fa fa-linkedin linked-in"></a>
                      <a class="fa fa-github github"></a>
                    </div>
                  </div>
                  <div class="span4">
                    <h4><i class="fa fa-question"></i>&nbsp;&nbsp;Registration</h4>
                    <div class="box">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in.
                      </p>
                    </div>
                    <div class="box">
                      Don't Have An Account.<br>
                      Click Here For <a href="#" data-toggle="tab">Free Register</a>
                    </div>
                  </div>
                </div>
              </div>  <!-- tab-pane active -->
              <div class="tab-pane" id="panel2">
                <div class="row-fluid">
                  <div class="span5">
                    <h4><i class="fa fa-user"></i>&nbsp;&nbsp; Register As a Student</h4>
                    <%=  render 'students/student_form'%>
                  </div>  <!-- end of second span5 -->
                  <div class="span5">
                    <h4><i class="fa fa-user"></i>&nbsp;&nbsp; Register As a Tutor</h4>
                    <%= render 'tutors/tutor_sign_up_form'%>
                    <br>
                    <br>
                    <div class="box">
                      Already Have An Account.<br>
                      Click Here For <a href="#" data-toggle="tab">Login</a>
                    </div>
                  </div>   <!-- end of second span5 -->
                </div>   <!-- end of row fluid -->
              </div>   <!-- end of tab-pane -->
              <div class="tab-pane" id="panel3">
                <div class="row-fluid">
                  <div class="span5">
                    <h4><i class="fa fa-unlock"></i>&nbsp;&nbsp;Password Recovery</h4>
                    <%= render "devise/passwords/new" %>
                  </div>
                  <div class="span7">
                    <h4><i class="fa fa-question"></i>&nbsp;&nbsp;Help</h4>
                    <div class="box">
                      <p>Getting Error With Password Recovery Click Here For <a href="#">Support</a></p>
                      <ul>
                        <li>Vestibulum pharetra lectus montes lacus!</li>
                        <li>Iaculis lectus augue pulvinar taciti.</li>
                      </ul>
                    </div>
                    <div class="box">
                      <ul>
                        <li>Potenti facilisis felis sociis blandit euismod.</li>
                        <li>Odio mi hendrerit ad nostra.</li>
                        <li>Rutrum mi commodo molestie taciti.</li>
                        <li>Interdum ipsum ad risus conubia, porttitor.</li>
                        <li>Placerat litora, proin hac hendrerit ac volutpat.</li>
                        <li>Ornare, aliquam condimentum  habitasse.</li>
                      </ul>
                    </div>
                  </div>
                </div>  <!-- end of row fluid -->
              </div>    <!-- end of tab-pane -->
              <div id="panel4" class="tab-pane">
                <div class="row-fluid">
                  <div class="span5">
                    <h4><i class="fa fa-envelope-alt"></i>&nbsp;&nbsp;Resend Confirmation Instructions</h4>
                    <%= render "devise/confirmations/new" %>
                    <!-- <label>Email</label>
                    <input type="text" value="" id="Text1" class="input-block-level">
                    <br>
                    <br>
                    <a href="#" class=" btn ">Send Message&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-sign-right"></i></a> -->
                    
                    <br class="visible-phone">
                    <br class="visible-phone">
                  </div>
                  <div class="span7">
                    <div class="row-fluid">
                    </div>
                    <div class="row-fluid">
                    </div>
                  </div>
                </div> <!-- end of span5 -->
              </div> <!-- end of panel4 -->
            </div>  <!-- end of tab-content -->
          </div>
        </div>  <!-- end of span10 offset1 -->
      </div>   <!-- end of row-fluid -->
      <div class="divider x-large"></div>
      <div class="divider large"></div>
    </div>  <!-- end of container -->
    <script src="assets/login_jquery-1.9.1.min.js"></script>
    <script src="assets/login_bootstrap.min.js"></script>
      <!--<script src="tabs-addon.js"></script>-->
</body>


</body>
</html>