<!DOCTYPE html>
<html>
<head>
  <title>MusicApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'social-share-button', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'underscore' %>
  <%= javascript_include_tag 'jquery.cycle.all' %>
  <%= javascript_include_tag 'gmaps/google' %>
  <%= javascript_include_tag 'social-share-button' %>
  <%= javascript_include_tag 'shared', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href=  "/assets/font-config.scss" rel="stylesheet" %>
</head>
<body>
  <%= render 'header'%>
  <% flash.each do |type, message| %>
    <div class="alert flash_message" style="margin-top:5%;">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
  <%= render 'footer_old'%>
</body>
</html>